<table class="table table-striped table-bordered table-hover table-sm">
  <thead class="thead-inverse">
    <tr>
      <th>Transaction Time</th>
      <th>Posting Time</th>
      <th>Memo</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @tolls.each do |toll| %>
      <tr>
        <td><%= toll.occurred_at.strftime("%m/%d/%y - %l:%M%P") if toll.occurred_at %></td>
        <td><%= toll.posted_at.strftime("%m/%d/%y - %l:%M%P") %></td>
        <td><%= toll.memo %></td>
        <td class="text-xs-right"><%= humanized_money_with_symbol(toll.amount) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
